<div class="container msg-container">
   <h2 class="h2-msg">Centro de Mensajes</h2>

   <div class="mail">
      <input type="text" id="mail" placeholder="tumail@gmail.com" name="mail">
   </div>
   <div class="chat-container">
      <p><strong></strong><span></span></p>
   </div>

   <div class="mensaje">
      <textarea name="mensaje" id="mensaje" placeholder="Tu mensaje..." maxlength="300"></textarea>
   </div>
   <button id="btn">Enviar</button>

</div>